/* ================ Variables Section ================ */

:root {
    --background-dark: #272b34;
    --background-light: #4d5466;
    --bar-color: white;

    --default-btn-color: #d3d7de;

    --sort-btn-color: #72ff00;
    --sort-btn-rgb: 114, 255, 0;
    --reset-btn-color: #f5d300;
    --reset-btn-rgb: 245, 211, 0;
    --btn-opacity: 0.15;
    --btn-hover-opacity: 0.3;

    --sort-radio-color: #0DFF92;
}

/* ================ Standard elements ================ */

body {
    background-color: var(--background-dark);
}

h1 {
    color: #66D9EF;
}

/* ================ Display elements ================ */

.graph-container {
    background-color: var(--background-light);
    padding: 1rem;
    margin: 8px 16px;
}

#graph-area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 50px;
    justify-content: center;
}

.control-bar {
    margin: 8px 16px;
    display: flex;
    justify-content: center;
    /*border: 1px solid gray;*/
    height: 60px;
}

.bar {
    width: 5px;
    background-color: var(--bar-color);
    margin-right: 1px;
}

/* ================ UI Element: Button ================ */

.control-bar button {
    margin: auto 2px;
    border-radius: 6px;
    line-height: 1.8;
    width: 100px;
    vertical-align: middle;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: var(--default-btn-color);
    border: 2px solid var(--default-btn-color);
    text-transform: uppercase;
    outline: none;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.control-bar button:hover {
    cursor: pointer;
}

#sort-btn {
    border: 2px solid var(--sort-btn-color);
    color: var(--sort-btn-color);
    background-color: rgba(var(--sort-btn-rgb), var(--btn-opacity));
}

#sort-btn:hover, #sort-btn:focus {
    background-color: rgba(var(--sort-btn-rgb), var(--btn-hover-opacity));
}

#reset-btn {
    border: 2px solid var(--reset-btn-color);
    color: var(--reset-btn-color);
    background-color: rgba(var(--reset-btn-rgb), var(--btn-opacity));
}

#reset-btn:hover, #reset-btn:focus {
    background-color: rgba(var(--reset-btn-rgb), var(--btn-hover-opacity));
}

/* ================ UI Element: Button ================ */

.sort-container {
    color: white;
    margin:8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sort-container input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.sort-option {
    color: #AAAAAA;
    position: relative;
    padding: 0 40px;
    border-right: 1px solid #AAAAAA;
}

.sort-option:last-child {
    border-right: none;
}

.sort-option label{
    position: relative;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all 0.25s linear;
}

.sort-option:hover label{
    color: #FFFFFF;
}

.sort-option:hover .check {
    border: 2px solid #FFFFFF;
}

.sort-option label:before {
    display: block;
    position: absolute;
    content: '';
    width: 0; 
    height: 0;
    top: 4px;
    left: -20px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}

input[type=radio]:checked ~ label::before{
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--sort-radio-color);
    -webkit-transition: all 0.25s linear;
}

input[type=radio]:checked ~ label {
    color: var(--sort-radio-color);
    -webkit-transition: all 0.25s linear;
}
