body {
    background-color: #272b34;
}

h1 {
    color: #66D9EF;
}

.bar {
    width: 5px;
    /*background-color: #00563f;*/
    background-color: white;
    margin-right: 1px;
}

#graph-area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 200px;
}

.graph-container {
    background-color: #4d5466;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
}

.control {
    margin: 1rem;
    background-color: #4d5466;
    border-radius: 6px;
    height: 50px;
}