* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

p {
    width: 40%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: maroon;
}

h1, h2, h3 {
    margin:0 auto;
    text-align: center;
    width: 400px;
}

h1 {
    border: 2px solid maroon;
}

h2, h3 {
    padding-top: 10px;
}


ul, ol {
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

#media {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.grid {
    display: grid;
    margin: 0 auto;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    grid-template: repeat(10, 1fr)/repeat(8, 1fr);
}

.box {
    border: 1px dotted purple;
    background-color: oldlace;
}

.a {
    grid-area: 2 / 1 / span 8 / span 1;
}

.b {
    display: grid;
    grid-area: 2 / 2 / span 8 / span 6;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 5px;
}

.c {
    grid-area: 2 / 8 / span 8 / span 1;
}

.header {
    grid-area: 1 / 1 / span 1 / span 8;
}

.footer {
    grid-area: 10 / 1 / span 1 / span 8;
}

.item {
    border: 1px dashed blue;
}