* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: Roboto;
}

p {
    width: 40%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: maroon;
}

h1, h2, h3 {
    margin:0 auto;
    text-align: center;
    width: 25rem;
}

h1 {
    border: 2px solid maroon;
}

h2, h3 {
    padding-top: 0.625rem;
}


ul, ol {
    margin: 0 auto;
    width: 9.375rem;
    text-align: center;
}

#media {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.grid {
    display: grid;
    margin: 0 auto;
    border: 2px solid black;
    width: 31.25rem;
    height: 31.25rem;
    grid-template: repeat(10, 1fr)/repeat(8, 1fr);
}

.box {
    border: 1px dotted purple;
    background-color: oldlace;
}

.a {
    grid-area: 2 / 1 / span 8 / span 1;
}

.b {
    display: grid;
    grid-area: 2 / 2 / span 8 / span 6;
    grid-template: repeat(4,100px) / repeat(4, 1fr);
    grid-gap: 0.3125rem;
    grid-auto-flow: row;
    grid-auto-rows: 6.25rem;
    overflow: scroll;
}

.c {
    grid-area: 2 / 8 / span 8 / span 1;
}

.header {
    grid-area: 1 / 1 / span 1 / span 8;
}

.footer {
    grid-area: 10 / 1 / span 1 / span 8;
}

.item {
    border: 1px dashed blue;
}

@media only screen and (max-width: 600px){
    p {
        width: 95%;
    }
}