/* ================ Normalising settings ================ */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul {
    padding-left: 2.5rem;
}

/* ================ Layout section ================ */

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.wrapper {
    display: flex;
    align-content: flex-start;
    position: relative;
}

    .sidebar {
        display: relative;
        box-sizing: border-box;
        order: 0;
        width: 30%;
        border-right: 1px solid black;
    }
        .sidebar ul {
            font-size: 1.25rem;
            list-style-type: none;
            padding-left: 0;
            top: 14rem;
            position: fixed;
            left: 15%;
            transform: translateX(-50%);
        }
            .sidebar ul li {
                padding-top: 0.125rem;
                padding-bottom: 0.0.125rem;
            }

    .content {
        position: relative;
        left: 10rem;
        box-sizing: border-box;
        min-height: 50rem;
        width: 40rem;
        padding: 2rem 0rem 2rem 0rem;
        order: 1;
    }
        .content header ul {
            padding-left: 0rem;
        }

footer {
    position: relative;
    text-align: center;
    border-top: 1px solid black;
    margin: 2rem;
}

/* ================ Under development ================ */
header {
    text-align: center;
    padding-bottom: 4rem;
}

.logo {
    font-size: 3rem;
}

.contact li{
    display: inline-block;
}

section {
    margin-top: 2rem;
}

.sub-section {
    margin-top: 1rem;
}

/* ================ Temporary ================ */
